<div class="maintenance">
    <div class="header-container">
      <div class="section">
        <span id="header">Maintenances</span>
  
        <button type="button" class="btn btn-primary" (click)="open()">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus"
            viewBox="0 0 16 16">
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
          </svg>
          Add
        </button>
      </div>
  
      <form>
        <div class="mb-3 row">
          <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search Maintenance:</label>
          <div class="col-xs-3 col-sm-auto">
            <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
          </div>
        </div>
      </form>
    </div>
  
    <div class="filter-container">
      <span class="total-student">
        <span class="header">Total Maintenances: {{Maintenances.length}}</span>
      </span>
    </div>
  
    <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Payee Name</th>
            <th scope="col">Room No.</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          @for (maintenance of Maintenances; track maintenance.roomNumber; let i = $index) {
          <tr>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ maintenance.payeeName }}</td>
            <td>{{ maintenance.roomNumber }}</td>
            <td>{{ maintenance.description  }}</td>
            <td>{{ maintenance.amount | number }}</td>
          </tr>
          }@empty {
          <tr>
            <td colspan="7" style="text-align: center">No Maintenances found</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>