.sidebar {
    width: 399px;
    height: 100%;
    background: #FFFFFF;
 
    .house-cntr {

        display: flex;
        flex-direction: column;
        padding: 32px;
        align-items: center;
  
        img {
          // height: 100px;
          // width: 100px;
          // border-radius: 100%;
        }
  
        #name {
          color: #404040;
          font-weight: 500;
          font-family: 'Roboto';
          margin-top: 12px;
        }
  
        #btn {
          color : var(--french-violet)
        }
      }

      .divider {
        height: 1px;
        background: #CAC4D0;
        margin-bottom: 32px;
      }

      a {
        text-decoration: none;
      }

      .list-group {
        
        .color {
          background-color: #db7373;
          border-radius: 20px;
        }

        .list-item {
          cursor: pointer;
            color: #525252;
            font-size: 20px;
            font-weight: 400;
        }
      }
}